﻿@{
    ViewBag.Title = "Home Page";
    // Layout = null;

    var date = ViewBag.Date;
    var student = ViewBag.Student;
    var list = ViewBag.List;
}

@model PrintWeb.Models.DeliveryInfo

    <style type="text/css">
        body {
            zoom: 1.5;
        }
    </style>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<body>
    
    <h1>說明</h1>
    <div>
        <p>前置準備 1.右下角顯示英文輸入法 2.條碼機 3.列印標籤機</p>
        <p>一般流程 1.手刷條碼 2.輸入公克 3.按ENTER 4.等待列印</p>
        <p>異常流程 1.F5重整或關閉網站重開 2.通知工程師</p>
    </div>
    <form style="margin-left:10px;">

        <div class="form-group">
            <label>託運號</label>
            <input type="text" class="form-control" id="CheckNumber" name="CheckNumber" onKeyDown="return next(event,'Weight')">

        </div>
        <div class="form-group">
            <label>重量(公克)</label>
            <input type="text" class="form-control" id="Weight" name="Weight">
        </div>

        <button type="submit" onclick="test()" class="btn btn-primary">確定</button>
    </form>

    <div class="text-center">

    </div>
</body>
    <script type='text/javascript'>


        $(document).ready(function () {
            document.getElementById("CheckNumber").focus();
        });

        function next(evt, t) {
            var e = evt || window.event;
            if (e.keyCode == 9 || e.keyCode == 13) {
                document.forms[0].elements[t].focus();
                return false;
            }
        }
     

        
        var aa = true;//防連點

        function test() {

            if (aa) {

                aa = false;
                var CheckNumber = document.getElementById('CheckNumber').value; //id 看控件代號

                var Weight = document.getElementById('Weight').value; //id 看控件代號

                $.ajax({
                    url: "/Home/check",
                    method: 'POST',
                    dataType: 'json',
                    async: false,
                    data: {
                        CheckNumber: CheckNumber,
                        Weight: Weight
                    },
                    success: function (info) {

                        if (info.errorMsg != null) {
                            alert(info.errorMsg);
                        }

                        //    window.location = "/Home/D?" + "data=" + info.data;
                    },
                    error: function (data) {
                        console.log(data.responseText);
                        alert(data.responseText);
                    }
                });
            }
        }

    </script>
