﻿@{
    ViewBag.Title = "Home Page";
    // Layout = null;

    var date = ViewBag.Date;
    var student = ViewBag.Student;
    var list = ViewBag.List;
}

@model PrintWeb.Models.DeliveryInfo

    <style type="text/css">
        body {
            zoom: 1.5;
        }
    </style>
   
    <body>
        <div style="text-align:left">
            <h2>EXCEL 下載</h2>
            @*  <button type="submit" class="btn btn-primary" onclick="save()">總和</button>*@

            @*   <button type="submit" class="btn btn-primary" onclick="save2()">清單</button>*@



            @using (Html.BeginForm("download2", "Home", FormMethod.Post))
        {
            <input type="text" id="sdate" name="sdate"><a>~~</a>
            <input type="text" id="edate" name="edate">


            <button type="submit" class="btn btn-primary">下載</button>
        }

        </div>
        @section Scripts
{
            @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">*@



            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.js"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
            <script>
                $(function () {
                    $("#sdate").datetimepicker(
                        {
                            showTodayButton: true,
                            format: 'YYYY-MM-DD HH'
                           

                        });

                    $("#edate").datetimepicker(
                        {
                            showTodayButton: true,
                            format: 'YYYY-MM-DD HH'
                          

                        });
                });
            </script>
        }


    </body>
<script type='text/javascript'>


    //function save() {
    //    window.open('/Home/download', '_blank', '');
    //}
    //function save2() {
    //    window.open('/Home/download2', '_blank', '');
    //}
    //$("#datepicker").datepicker();


       $(document).ready(function ()
        {
            $("#datetimepicker").datetimepicker(
                {
                    defaultDate: '@DateTime.Now',
                    showTodayButton: true,
                    format: 'YYYY-MM-DD HH',
                    showClose: true,
                    showClear: true,
                    toolbarPlacement: 'top',
                    stepping: 15
                });
        });


</script>
